
#header {
 	background-color: #CAFF70;
 	border: 2px solid black;
 	margin-bottom: 2em;
	width: 100%;
	text-align: center;
}

#header p {
	margin: 2px;
}

#notesBlock {
	width: 100%;
}

#notesBlock p, #header p {
	margin-left: 1em;
}

.highlight {
	width: 100%;
 	border: 2px dashed red;
}

textarea {
	width:100%;
}

#notesBlock, textarea {
	font-family: Times;
	font-size: 14pt;	
	height: 3em;
}


#insertTop {
	display:none;
}

#insertTop.highlight {
	color: gray;
	font-size: smaller;
	display:block;
}

#instructionsBox {
	background-color: gray;
	position: absolute;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	left: 1px;
	right: 1px;
	border: 4px solid green;
	padding:20px;
	border-radius: 8px;
	opacity: 0.92;
	float:right;
}

#instructionsBox span {
	font-weight: bold;
}


.table {
	display:table;
	color:white;
}

.row {
	display:table-row;
	padding-left: 16px;
}

.col1 {
	display:table-cell;
	font-weight: bold;
	padding-left: 16px;
	padding-top: 4px;
}

.col2 {
	display:table-cell;
	padding-left: 16px;
}

.hidden {
	display:none;
}
